.ipynb_checkpoints/
venv/
.github/prompts/limpieza.prompt.md
2.AED/2.5Limpieza_de_Datos/columnasx.MD
2.AED/2.5Limpieza_de_Datos/orden.MD
*:Zone.Identifier
5.Clasificacion/parcial1/images_training_rev1/*
5.Clasificacion/parcial1/images_training_rev1.zip
images_training_rev1/
5.Clasificacion/parcial1/training_solutions_rev1.csv
